<a href="https://colab.research.google.com/github/danismoreirasilva/machine_learning_dp_ufsc/blob/main/classifica%C3%A7%C3%A3o_estudo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 à 5 - Etapas básicas - Classificação

## 1 - Pré-processamento - ETL (Carga de Dados)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [78]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Doutorado UFSC/Machine Learning e Deepen Learning/Datasets/Social_Network_Ads.csv')
df.head(3)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

## 2 - Codificação das Variáveis Categóricas (caso existam)

In [79]:
#esse método cria as varivéis nominais como colunas e valores binários
df = pd.get_dummies(df)

#deleta a última coluna criada pelo método dummies
df = df.iloc[:,:-1]
df.head(1)

    User ID  Age  EstimatedSalary  Purchased  Gender_Female
0  15624510   19            19000          0              0

## 3 - Separar as variáveis independentes (X) da variável target, alvo (Y)

In [80]:
#Separando as variaveis independentes (X) da variável target, alvo, (y)

#seleciona todas as colunas menos a coluna "Purchasedfit" que é a variável alvo
X = df.drop(['Purchased','User ID'], axis = 1)

y = df.iloc[:,3:4]

In [ ]:
type(X), type(y)

## 4 - Separação dos Conjuntos de Treinamento e Testes

In [82]:
from sklearn.model_selection import train_test_split

X_treino, X_teste, y_treino, y_teste = train_test_split(X.values, y.values, test_size = 0.2, random_state = 0)

X_treino.shape, X_teste.shape, y_treino.shape, y_teste.shape

((320, 3), (80, 3), (320, 1), (80, 1))

## 5 - Normalização das variáveis (deixar com a mesma amplitude) - Escalar (Scalling)

In [83]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_treino = sc.fit_transform(X_treino)
X_teste = sc.transform(X_teste)

# 6 - Criando os Modelos

## 6.1 Logistic Regression

In [84]:
from sklearn.linear_model import LogisticRegression

modelo_log = LogisticRegression(random_state = 0)
modelo_log.fit(X_treino,y_treino)
y_pred_log = modelo_log.predict(X_teste)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## 6.2 SVM

In [85]:
from sklearn.svm import SVC

modelo_svm = SVC(kernel='linear', random_state = 0)# rbf , polinomial
modelo_svm.fit(X_treino,y_treino)
y_pred_svm = modelo_svm.predict(X_teste)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## 6.3 Random Forest Classifier

In [86]:
from sklearn.ensemble import RandomForestClassifier

modelo_rf = RandomForestClassifier(n_estimators = 10, random_state = 0)
modelo_rf.fit(X_treino,y_treino)
y_pred_rf = modelo_rf.predict(X_teste)

<ipython-input-86-e3f66f6dea60>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelo_rf.fit(X_treino,y_treino)

## 6.4 KNN

In [87]:
from sklearn.neighbors import KNeighborsClassifier

modelo_knn = KNeighborsClassifier(n_neighbors = 3)
modelo_knn.fit(X_treino,y_treino)
y_pred_knn = modelo_knn.predict(X_teste)

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

# Avaliação dos Modelos

## Matriz de Confusão

In [88]:
# Classification Report (Recall, Precision, F1-Score, Acc)
# https://towardsdatascience.com/the-5-classification-evaluation-metrics-you-must-know-aa97784ff226
from sklearn.metrics import confusion_matrix

cm_log = confusion_matrix(y_teste,y_pred_log)
cm_svm = confusion_matrix(y_teste,y_pred_svm)
cm_rf = confusion_matrix(y_teste,y_pred_rf)
cm_knn = confusion_matrix(y_teste,y_pred_knn)

In [89]:
acc_log = (cm_log[0,0]+cm_log[1,1])/cm_log.sum()
acc_svm = (cm_svm[0,0]+cm_svm[1,1])/cm_svm.sum()
acc_rf = (cm_rf[0,0]+cm_rf[1,1])/cm_rf.sum()
acc_knn = (cm_knn[0,0]+cm_knn[1,1])/cm_knn.sum()

In [90]:
print('Logistic Regression: ', acc_log)
print('SVM: ', acc_svm)
print('Random Fortest: ', acc_rf)
print('Knn: ', acc_knn)

Logistic Regression:  0.9125
SVM:  0.9125
Random Fortest:  0.925
Knn:  0.95