<a href="https://colab.research.google.com/github/danismoreirasilva/machine_learning_dp_ufsc/blob/main/classifica_tablet_smarthpone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_excel('/content/drive/MyDrive/Doutorado UFSC/Machine Learning e Deepen Learning/Datasets/dataset_tablet_smartphone.xlsx')

In [ ]:
data

    Possui_Sistema_Android  Roda_Fortnite_Mobile  Cabe_no_bolso    Portatil
0                        0                     1              1  Smartphone
1                        1                     1              1  Smartphone
2                        1                     0              1  Smartphone
3                        1                     0              0      Tablet
4                        1                     1              0      Tablet
5                        0                     1              0      Tablet
6                        0                     0              1  Smartphone
7                        0                     1              0      Tablet
8                        1                     0              0      Tablet
9                        0                     1              0      Tablet
10                       1                     1              1  Smartphone
11                       1                     0              1  Smartphone
12                       1                     1              0      Tablet
13                       0                     1              1  Smartphone
14                       0                     0              0      Tablet

In [ ]:
#verifica o tipo de dados
data.dtypes

In [ ]:
#criada uma variavel que substituiu o que tem na coluna Portatil
#onde tem Smartphone usa 1, onde tem Tablet usa 2
cleanup = {'Portatil': {'Smartphone': 1, 'Tablet': 2}}

In [ ]:
#inplace True faz a mudança no dataframe original
data.replace(cleanup, inplace=True)

#outra forma seria data.replace(['Smartphone','Tablet'],[1,2])

In [ ]:
data.head()

   Possui_Sistema_Android  Roda_Fortnite_Mobile  Cabe_no_bolso  Portatil
0                       0                     1              1         1
1                       1                     1              1         1
2                       1                     0              1         1
3                       1                     0              0         2
4                       1                     1              0         2

In [ ]:

#colocando a coluna Portatil, precisa ter o mesmo nome do arquivo, como a variavel a ser predita y
y = data.Portatil

#colocar todas as demais colunas, exceto a Portatil, na variavel X (X maiusculo). Serão os dados
X = data.drop(columns = ['Portatil'])

In [ ]:
y

In [ ]:
X

In [ ]:
#Criando modelo

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)
clf = DecisionTreeClassifier()

#função de aprendizado. Aqui é gerado o modelo de predição
clf.fit(X_train, y_train)

DecisionTreeClassifier()

In [ ]:
y_pred = clf.predict(X_test)
y_true = y_test

print("Os resultados obtidos foram: ")
print(y_pred)
print("Os resultados esperados são: ")
print(y_true.values)

Os resultados obtidos foram:
[2 1 2 1 2]
Os resultados esperados são:
[2 1 2 1 2]

In [ ]:
#métricas de avaliação do modelo

from sklearn import metrics

print('Precisão de: ' + str(metrics.precision_score(y_true, y_pred)))

Precisão de: 1.0

Notebook construído com base no vídeo https://www.youtube.com/watch?v=xB3_Rbjxqo4