<a href="https://colab.research.google.com/github/danismoreirasilva/machine_learning_dp_ufsc/blob/main/regressao_multivalorada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Regress√£o Linear Multivalorada

## ETL Process - Load Data

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [30]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Doutorado UFSC/Machine Learning e Deepen Learning/Datasets/50_Startups.csv')

In [31]:
#apresenta os 05 primeiros resultados. Pode colocar um valor inteiro dentro dos paranteses para especificar a quantidade tambem. Por ex,: df.head(3)
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
#apresenta os 05 primeiros resultados
df.tail()

In [ ]:
#tratando os dados do dataset -  Processo de Codifica√ß√£o das vari√°veis categ√≥ricas

'''
para a classifica√ß√£o da variav√©l categorica state(strings) 
precisamos transforma-la em dados numericos
uma op√ß√£o √© pegar cada valor das categorias e colocar como variavel, isto √©, ser√° uma nova coluna no dataset
Exemplo: New York = 1; Florida = 2; California = 3

Retirando a vari√°vel dummy - se tem 3 vari√°veis, o meu modelo vai remover a ultima variavel, devido alta colinearidade (se uma est√°
as outras n√£o est√£o)
'''

#esse m√©todo cria as variv√©is nominais como colunas e valores bin√°rios
df = pd.get_dummies(df)
#df = pd.get_dummies(df, drop_first=True)

#deleta a √∫ltima coluna
df = df.iloc[:,:-1]
df

In [54]:
#Separando as variaveis independentes (X) da vari√°vel target, alvo, (y)

#seleciona a coluna Profit (Faz o filtro)
#y = df['Profit'] - seleciona uma s√©rie de valores - n√£o √© uma array

y = df.iloc[:,3:4]

#axis = 1 significa que a opera√ß√£o √© nas colunas. Pega todas as colunas menos a target
X = df.drop(['Profit'], axis = 1)

In [ ]:
X

In [ ]:
#outra forma pelo iloc passando a posi√ß√£o onde a vari√°vel target est√°
#df.head(1) //para a ver a posi√ß√£o da coluna, ela est√° na 3¬∫, contando a partir de 0
'''
y = df.iloc[:,3:4]

X1 = df.iloc[:,0:3]
X1.head(1)
X2 = df.iloc[:,4:]
X2.head(1)

X = pd.concat([X1, X2], axis=1)

'''

In [ ]:
#tamanho do dataset
# resultado √© um par com linhas e colunas (50, 6)
#50 linhas
#6 colunas

df.shape

## Separa√ß√£o dos Conjuntos de Treinamento e Testes

In [59]:
from sklearn.model_selection import train_test_split

#randmon state=0, ele separa os dados sempre da mesma forma. 20% para teste e 80% treinamento.
#pode-se usa o shuffler faz o embaralhamento dos dados

X_treino, X_teste, y_treino, y_teste = train_test_split(X.values, y.values, test_size = 0.2, random_state=0)

#apresenta a quantidade de registros de treine e teste de cada vari√°vel
X_treino.shape, X_teste.shape, y_treino.shape, y_teste.shape

((40, 5), (10, 5), (40, 1), (10, 1))

In [ ]:
#quanto temos vari√°veis categ√≥ricas que foram transformadas em 0 e 1, ha uma diferen√ßa muito grande entre os valores absolutos das demais variaveis
#√© preciso rescalar, utilizando um m√©todo para escalar vari√°veis

## Escalar vari√°veis - Normalizar as vari√°veis (mesmo amplitude dos dados)

In [60]:
from sklearn.preprocessing import StandardScaler

sc_X = StandardScaler()
X_treino = sc_X.fit_transform(X_treino)
X_teste = sc_X.fit_transform(X_teste)

In [61]:
sc_y = StandardScaler()
y_treino = sc_y.fit_transform(y_treino)
y_teste = sc_y.fit_transform(y_teste)

In [ ]:
#visualizando os valores de X_treino escalados
X_treino

In [ ]:
#visualizando os valores de X_teste escalados
X_teste

In [ ]:
#visualizando os valores de X_treino escalados
y_treino

In [ ]:
#visualizando os valores de X_teste escalados
y_teste

## Criando o Modelo - Utilizando a API de Regress√£o Linear

In [68]:
from sklearn.linear_model import LinearRegression

modelo = LinearRegression()
modelo.fit(X_treino, y_treino)

LinearRegression()

## Fazendo as Predi√ß√µes

In [ ]:
y_predito = modelo.predict(X_teste)
y_predito

## Avalia√ß√£o do Modelo

In [71]:
from sklearn.metrics import r2_score

r2score = r2_score(y_teste,y_predito)
print('A m√©trica R2score √©: ', r2score )

A m√©trica R2score √©:  0.9480784113198288

In [72]:
#m√©todo apresenta a rela√ß√£o dos coeficientes que o modelo calculou para cada vari√°vel ap√≥s o treinamento ax + b
#Thetas 1..N
modelo.coef_

array([[ 0.88287881,  0.02103762,  0.11169671, -0.00846692, -0.01774882]])

In [73]:
#Theta 0
modelo.intercept_

array([-1.62223521e-16])