<a href="https://colab.research.google.com/github/danismoreirasilva/machine_learning_dp_ufsc/blob/main/regressao_multivalorada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Regress√£o Linear Multivalorada

## ETL Process - Load Data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Doutorado UFSC/Machine Learning e Deepen Learning/Datasets/50_Startups.csv')

In [4]:
#apresenta os 05 primeiros resultados
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
#apresenta os 05 primeiros resultados
df.tail()

In [ ]:
#tratando os dados do dataset -  Processo de Codifica√ß√£o das vari√°veis categ√≥ricas

'''
para a classifica√ß√£o da variav√©l categorica state(strings) 
precisamos transforma-la em dados numericos
uma op√ß√£o √© pegar cada valor das categorias e colocar como variavel, isto √©, ser√° uma nova coluna no dataset
Exemplo: New York = 1; Florida = 2; California = 3

Retirando a vari√°vel dummy - se tem 3 vari√°veis, o meu modelo vai remover a ultima variavel, devido alta colinearidade (se uma est√°
as outras n√£o est√£o)
'''

#esse m√©todo cria as variv√©is nominais como colunas e valores bin√°rios
df = pd.get_dummies(df)
#df = pd.get_dummies(df, drop_first=True)

#deleta a √∫ltima coluna
df = df.iloc[:,:-1]
df

In [ ]:
#Separando as variaveis independentes (X) da vari√°vel target, alvo, (y)

#seleciona a coluna Profit (Faz o filtro)
y = df['Profit']

#axis = 1 significa que a opera√ß√£o √© nas colunas. Pega todas as colunas menos a target
X = df.drop(['Profit'], axis = 1)
X

In [ ]:
#outra forma pelo iloc passando a posi√ß√£o onde a vari√°vel target est√°
#df.head(1) //para a ver a posi√ß√£o da coluna, ela est√° na 3¬∫, contando a partir de 0
'''
y = df.iloc[:,3:4]

X1 = df.iloc[:,0:3]
X1.head(1)
X2 = df.iloc[:,4:]
X2.head(1)

X = pd.concat([X1, X2], axis=1)

'''

In [ ]:
#tamanho do dataset
# resultado √© um par com linhas e colunas (6497, 13)
#6497 linhas
#13 colunas

df.shape

In [ ]:
X.shape, y.shape

## Separa√ß√£o dos Conjuntos de Treinamento e Testes

In [ ]:
from sklearn.model_selection import train_test_split

#randmon state=0, ele separa os dados sempre da mesma forma. 20% para teste e 80% treinamento.
#pode-se usa o shuffler

X_treino, X_teste, y_treino, y_teste = train_test_split(X.values, y.values, test_size = 0.2, random_state=0)