<a href="https://colab.research.google.com/github/danismoreirasilva/machine_learning_dp_ufsc/blob/main/RNA_estudo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 à 5 - Etapas básicas - Classificação

## 1 - Pré-processamento - ETL (Carga de Dados)

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Doutorado UFSC/Machine Learning e Deepen Learning/Datasets/Churn_Modelling.csv')
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1

## 2 - Codificação das Variáveis Categóricas (caso existam)

In [6]:
#seleciona a partir da 3º coluna, pois as colunas 0, 1 e 2 não interessam para o treinamento
df = df.iloc[:,3:]

#esse método cria as varivéis nominais como colunas e valores binários e deleta a coluna
df = pd.get_dummies(df, drop_first = True)
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0,0

## 3 - Separar as variáveis independentes (X) da variável target, alvo (Y)

In [7]:
#Separando as variaveis independentes (X) da variável target, alvo, (y)

#seleciona todas as colunas menos a coluna "Exited" que é a variável alvo
X = df.drop(['Exited'], axis = 1)

y = df.iloc[:,8:9]

In [47]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [ ]:
y

In [8]:
type(X), type(y)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

### Transforma os dataFrames em Arrays

In [9]:
X = X.values
y = y.values

In [ ]:
y

## 4 - Separação dos Conjuntos de Treinamento e Testes

In [10]:
from sklearn.model_selection import train_test_split

X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size = 0.2, random_state = 0)

X_treino.shape, X_teste.shape, y_treino.shape, y_teste.shape

((8000, 11), (2000, 11), (8000, 1), (2000, 1))

## 5 - Normalização das variáveis (deixar com a mesma amplitude) - Escalar (Scalling)

In [11]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_treino = sc.fit_transform(X_treino)
X_teste = sc.transform(X_teste)

# 6 - Criando os Modelos de Rede Neural Artifical (RNA)

## 6.1 Definição da Arquitetura
testar varios algoritmos(SVM, Random Forest, etc...)


* Camadas de entrada -  Recebe os dados das variáveis de entradas (colunas preditoras)
*  Camada de saída - saida do algoritmo. Neste exemplo terá um neuronio só, pq é uma saida binária. 
* Se fosse classificar em 4 grupos, teria 4 neuronios
*  Camadas ocultas - definir quantas camadas são desejadas

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense

#instancia um modelo do tipo Sequential, para determinar a quantidade de camadas
modelo = Sequential()

#camada de entrada - denso porque se conecta com todos os outros nós da próxima camada
#units são os neurônios que correspodem as variavéis de entrada - neste exemplo 11
# kernel_initializer inicialização dos pesos na camada de entrada
#activation função de ativação relu não é necessariamente binária, mas a sigmoide é
modelo.add(Dense(units=11, kernel_initializer='uniform', activation='relu'))

#Camadas Ocultas units=11, esse valor deve ser modificado a medida em que os testes vão sendo realizados
modelo.add(Dense(units=11, kernel_initializer='uniform', activation='relu'))

#Camadas saída - units=1 - binario, tem só 1 neurônio
modelo.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

## 6.2 Compilando e Treinando o modelo

In [13]:
#compilando a RNA
#optimizer rmspop
#loss='crossentropy' quando tem mais de uma classe
#época de treinamento - ida até a camada oculta
#batch_size - otimização de memória, quantidade de dados que ele pega por vez, lote de 32 no treinamento neste exemplo

modelo.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])
modelo.fit(X_treino, y_treino, epochs=35, batch_size=32)

#pesquisar sobre o callback = earlystop

Epoch 1/35
250/250 [==============================] - 2s 4ms/step - loss: 0.5436 - accuracy: 0.7950
Epoch 2/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4324 - accuracy: 0.7960
Epoch 3/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4283 - accuracy: 0.7960
Epoch 4/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4250 - accuracy: 0.7960
Epoch 5/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4221 - accuracy: 0.7960
Epoch 6/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4198 - accuracy: 0.8034
Epoch 7/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4185 - accuracy: 0.8216
Epoch 8/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4170 - accuracy: 0.8230
Epoch 9/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4159 - accuracy: 0.8257
Epoch 10/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4146 - accuracy: 0.8294
Epoch 11/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4138 - accuracy: 0.8304
Epoch 12/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4126 - accuracy: 0.8321
Epoch 13/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4119 - accuracy: 0.8328
Epoch 14/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4111 - accuracy: 0.8320
Epoch 15/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4106 - accuracy: 0.8345
Epoch 16/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4096 - accuracy: 0.8330
Epoch 17/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4091 - accuracy: 0.8340
Epoch 18/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4086 - accuracy: 0.8336
Epoch 19/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4079 - accuracy: 0.8353
Epoch 20/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4073 - accuracy: 0.8344
Epoch 21/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4069 - accuracy: 0.8341
Epoch 22/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4067 - accuracy: 0.8334
Epoch 23/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4062 - accuracy: 0.8347
Epoch 24/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4059 - accuracy: 0.8341
Epoch 25/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4051 - accuracy: 0.8359
Epoch 26/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4048 - accuracy: 0.8349
Epoch 27/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4044 - accuracy: 0.8351
Epoch 28/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4043 - accuracy: 0.8345
Epoch 29/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4040 - accuracy: 0.8345
Epoch 30/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4035 - accuracy: 0.8350
Epoch 31/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4038 - accuracy: 0.8347
Epoch 32/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4031 - accuracy: 0.8331
Epoch 33/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4029 - accuracy: 0.8355
Epoch 34/35
250/250 [==============================] - 1s 3ms/step - loss: 0.4030 - accuracy: 0.8345
Epoch 35/35
250/250 [==============================] - 1s 2ms/step - loss: 0.4024 - accuracy: 0.8344

In [16]:
y_predito = modelo.predict(X_teste)

#transformando os valores em true e False. Se > 0.5 é True - devido a saída ser sigmoide
y_predito = (y_predito > 0.5)
y_predito

63/63 [==============================] - 0s 1ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# Avaliação dos Modelos

## Matriz de Confusão

In [22]:
# Classification Report (Recall, Precision, F1-Score, Acc)
# https://towardsdatascience.com/the-5-classification-evaluation-metrics-you-must-know-aa97784ff226
from sklearn.metrics import confusion_matrix

cm_rna = confusion_matrix(y_teste,y_predito)
cm_rna

array([[1557,   38],
       [ 279,  126]])

## Acurácia

In [23]:
acc_rna = (cm_rna[0,0]+cm_rna[1,1])/cm_rna.sum()
acc_rna

0.8415

In [24]:
print('Acurácia RNA: ', acc_rna)

Acurácia RNA:  0.8415

## Métricas
 

*   Precisão - Identicados de todos o Verdadeiros Positivos e Falsos Positivos (TP / (TP + FP) -  TP - true positive, FP - false positive
*   Recall - Retorna o valor de Verdadeiros Positivos identificados corretamente na predição - TP (TP + FN)
* F1Score - média harmonica entre precisão e recall - (2* Precision * Recall) / (precision + recall)
* Support - número de observações de cada classe (pode indicar o desbalanceamento dos dados)

também

In [28]:
from sklearn.metrics import classification_report

classes = ['Classe 0', 'Classe 1']

print(classification_report(y_predito, y_teste, target_names=classes))

              precision    recall  f1-score   support

    Classe 0       0.98      0.85      0.91      1836
    Classe 1       0.31      0.77      0.44       164

    accuracy                           0.84      2000
   macro avg       0.64      0.81      0.68      2000
weighted avg       0.92      0.84      0.87      2000