<a href="https://colab.research.google.com/github/danismoreirasilva/machine_learning_dp_ufsc/blob/main/trabalho_final_Daniela.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Referência do Data set:

Citation Request:

This dataset is public available for research. The details are described in [Moro et al., 2014].
Please include this citation if you plan to use this database:

[Moro et al., 2014] S. Moro, P. Cortez and P. Rita. A Data-Driven Approach to Predict the Success of Bank Telemarketing. Decision Support Systems, Elsevier, 62:22-31, June 2014

Disponível em: https://archive.ics.uci.edu/ml/datasets/bank+marketing

# 1 à 5 - Etapas básicas - Classificação

## 1 - Pré-processamento - ETL (Carga de Dados)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [27]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Doutorado UFSC/Machine Learning e Deepen Learning/Datasets/bank.csv')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

## 2 - Codificação das Variáveis Categóricas (caso existam)

In [28]:
#tratando os dados das variáveis binárias para ser 1 ou 0
'''
df['default'] = df['default'].replace('no', 0)
df['default'] = df['default'].replace('yes', 1)

df['housing'] = df['housing'].replace('no', 0)
df['housing'] = df['housing'].replace('yes', 1)

df['loan'] = df['loan'].replace('no', 0)
df['loan'] = df['loan'].replace('yes', 1)
'''

df['y'] = df['y'].replace('no', 0)
df['y'] = df['y'].replace('yes', 1)

In [ ]:
df

In [30]:
#esse método cria as varivéis categóricas como colunas e valores binários e deleta a alguma coluna dos valores criados
df = pd.get_dummies(df, drop_first = True)

df.to_excel('colunas_dumizadas.xlsx', index=False)

## 3 - Separar as variáveis independentes (X) da variável target, alvo (Y)

In [31]:
#Separando as variaveis independentes (X) da variável target, alvo, (y)

#seleciona todas as colunas menos a coluna "y" do dataset Bank.csv que é a variável alvo
X = df.drop(['y'], axis = 1)

#y = df.iloc[:,10:11]
y = df.iloc[:,7:8]

In [ ]:
y

In [ ]:
type(X), type(y)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

### Transforma os dataFrames em Arrays

In [33]:
X = X.values
y = y.values

## 4 - Separação dos Conjuntos de Treinamento e Testes

In [34]:
from sklearn.model_selection import train_test_split

X_treino, X_teste, y_treino, y_teste = train_test_split(X, y, test_size = 0.2, random_state = 0)

X_treino.shape, X_teste.shape, y_treino.shape, y_teste.shape

((3616, 42), (905, 42), (3616, 1), (905, 1))

## 5 - Normalização das variáveis (deixar com a mesma amplitude) - Escalar (Scalling)

In [35]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_treino = sc.fit_transform(X_treino)
X_teste = sc.transform(X_teste)

# 6 - Criando os Modelos

## 6.1 Logistic Regression

In [36]:
from sklearn.linear_model import LogisticRegression

modelo_log = LogisticRegression(random_state = 0)
modelo_log.fit(X_treino,y_treino)
y_pred_log = modelo_log.predict(X_teste)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## 6.2 SVM

In [37]:
from sklearn.svm import SVC

modelo_svm = SVC(kernel='linear', random_state = 0)# rbf , polinomial
modelo_svm.fit(X_treino,y_treino)
y_pred_svm = modelo_svm.predict(X_teste)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## 6.3 Random Forest Classifier

In [38]:
from sklearn.ensemble import RandomForestClassifier

modelo_rf = RandomForestClassifier(n_estimators = 10, random_state = 0)
modelo_rf.fit(X_treino,y_treino)
y_pred_rf = modelo_rf.predict(X_teste)

<ipython-input-38-e3f66f6dea60>:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  modelo_rf.fit(X_treino,y_treino)

## 6.4 KNN

In [39]:
from sklearn.neighbors import KNeighborsClassifier

modelo_knn = KNeighborsClassifier(n_neighbors = 3)
modelo_knn.fit(X_treino,y_treino)
y_pred_knn = modelo_knn.predict(X_teste)

/usr/local/lib/python3.8/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

## 6.5 RNA

### 6.5.1 Definindo Arquitetura

In [47]:
import keras
from keras.models import Sequential
from keras.layers import Dense

#instancia um modelo do tipo Sequential, para determinar a quantidade de camadas
modelo_rna = Sequential()

#camada de entrada - denso porque se conecta com todos os outros nós da próxima camada
#units são os neurônios que correspodem as variavéis de entrada - neste exemplo 42
# kernel_initializer inicialização dos pesos na camada de entrada
#activation função de ativação relu não é necessariamente binária, mas a sigmoide é
modelo_rna.add(Dense(units=42, kernel_initializer='uniform', activation='relu'))

#Camadas Ocultas units=42, esse valor deve ser modificado a medida em que os testes vão sendo realizados
modelo_rna.add(Dense(units=42, kernel_initializer='uniform', activation='relu'))


#Camadas saída - units=1 - binario, tem só 1 neurônio
modelo_rna.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

### 6.5.2 Compilando e Treinando o modelo

In [48]:
#compilando a RNA
#optimizer rmspop
#loss='crossentropy' quando tem mais de uma classe
#época de treinamento - ida até a camada oculta
#batch_size - otimização de memória, quantidade de dados que ele pega por vez, lote de 32 no treinamento neste exemplo

modelo_rna.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])
modelo_rna.fit(X_treino, y_treino, epochs=50, batch_size=32)

Epoch 1/50
113/113 [==============================] - 1s 2ms/step - loss: 0.4345 - accuracy: 0.8814
Epoch 2/50
113/113 [==============================] - 0s 2ms/step - loss: 0.2489 - accuracy: 0.8869
Epoch 3/50
113/113 [==============================] - 0s 2ms/step - loss: 0.2276 - accuracy: 0.8877
Epoch 4/50
113/113 [==============================] - 0s 2ms/step - loss: 0.2182 - accuracy: 0.9057
Epoch 5/50
113/113 [==============================] - 0s 2ms/step - loss: 0.2088 - accuracy: 0.9121
Epoch 6/50
113/113 [==============================] - 0s 2ms/step - loss: 0.2023 - accuracy: 0.9140
Epoch 7/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1956 - accuracy: 0.9168
Epoch 8/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1918 - accuracy: 0.9201
Epoch 9/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1869 - accuracy: 0.9217
Epoch 10/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1807 - accuracy: 0.9234
Epoch 11/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1755 - accuracy: 0.9281
Epoch 12/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1705 - accuracy: 0.9284
Epoch 13/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1662 - accuracy: 0.9309
Epoch 14/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1603 - accuracy: 0.9334
Epoch 15/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1563 - accuracy: 0.9367
Epoch 16/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1514 - accuracy: 0.9394
Epoch 17/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1443 - accuracy: 0.9463
Epoch 18/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1397 - accuracy: 0.9450
Epoch 19/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1348 - accuracy: 0.9475
Epoch 20/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1293 - accuracy: 0.9499
Epoch 21/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1249 - accuracy: 0.9527
Epoch 22/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1205 - accuracy: 0.9552
Epoch 23/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1156 - accuracy: 0.9577
Epoch 24/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1105 - accuracy: 0.9596
Epoch 25/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1068 - accuracy: 0.9610
Epoch 26/50
113/113 [==============================] - 0s 2ms/step - loss: 0.1016 - accuracy: 0.9624
Epoch 27/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0967 - accuracy: 0.9665
Epoch 28/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0938 - accuracy: 0.9668
Epoch 29/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0895 - accuracy: 0.9701
Epoch 30/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0865 - accuracy: 0.9704
Epoch 31/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0871 - accuracy: 0.9660
Epoch 32/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0815 - accuracy: 0.9721
Epoch 33/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0786 - accuracy: 0.9735
Epoch 34/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0749 - accuracy: 0.9754
Epoch 35/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0729 - accuracy: 0.9762
Epoch 36/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0697 - accuracy: 0.9762
Epoch 37/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0670 - accuracy: 0.9776
Epoch 38/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0645 - accuracy: 0.9790
Epoch 39/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0632 - accuracy: 0.9793
Epoch 40/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0613 - accuracy: 0.9798
Epoch 41/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0598 - accuracy: 0.9809
Epoch 42/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0577 - accuracy: 0.9820
Epoch 43/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0532 - accuracy: 0.9831
Epoch 44/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0535 - accuracy: 0.9817
Epoch 45/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0512 - accuracy: 0.9834
Epoch 46/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0500 - accuracy: 0.9823
Epoch 47/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0500 - accuracy: 0.9837
Epoch 48/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0477 - accuracy: 0.9853
Epoch 49/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0479 - accuracy: 0.9853
Epoch 50/50
113/113 [==============================] - 0s 2ms/step - loss: 0.0468 - accuracy: 0.9842

In [ ]:
y_predito = modelo_rna.predict(X_teste)

#transformando os valores em true e False. Se > 0.5 é True - devido a saída ser sigmoide
y_predito = (y_predito > 0.5)
y_predito

# Avaliação dos Modelos

## Matriz de Confusão

In [50]:
# Classification Report (Recall, Precision, F1-Score, Acc)
# https://towardsdatascience.com/the-5-classification-evaluation-metrics-you-must-know-aa97784ff226
from sklearn.metrics import confusion_matrix

cm_log = confusion_matrix(y_teste,y_pred_log)
cm_svm = confusion_matrix(y_teste,y_pred_svm)
cm_rf = confusion_matrix(y_teste,y_pred_rf)
cm_knn = confusion_matrix(y_teste,y_pred_knn)
cm_rna = confusion_matrix(y_teste,y_predito)

In [19]:
cm_log

array([[772,  21],
       [ 65,  47]])

In [20]:
cm_svm

array([[788,   5],
       [ 95,  17]])

In [21]:
cm_rf

array([[771,  22],
       [ 87,  25]])

In [22]:
cm_knn

array([[768,  25],
       [ 83,  29]])

In [23]:
cm_rna

array([[745,  48],
       [ 58,  54]])

## Acurácia

In [51]:
acc_log = (cm_log[0,0]+cm_log[1,1])/cm_log.sum()
acc_svm = (cm_svm[0,0]+cm_svm[1,1])/cm_svm.sum()
acc_rf = (cm_rf[0,0]+cm_rf[1,1])/cm_rf.sum()
acc_knn = (cm_knn[0,0]+cm_knn[1,1])/cm_knn.sum()
acc_rna = (cm_rna[0,0]+cm_rna[1,1])/cm_rna.sum()

In [52]:
print('Acurácia -> Logistic Regression: ', acc_log)
print('Acurácia -> SVM: ', acc_svm)
print('Acurácia -> Random Fortest: ', acc_rf)
print('Acurácia -> Knn: ', acc_knn)
print('Acurácia -> RNA: ', acc_rna )

Acurácia -> Logistic Regression:  0.9049723756906077
Acurácia -> SVM:  0.8895027624309392
Acurácia -> Random Fortest:  0.9005524861878453
Acurácia -> Knn:  0.8806629834254144
Acurácia -> RNA:  0.8861878453038674

## Métricas: Precision, Recall, F1-Score, Support

In [53]:
from sklearn.metrics import classification_report

classes = ['Classe 0', 'Classe 1']

print(classification_report(y_predito, y_teste, target_names=classes))

              precision    recall  f1-score   support

    Classe 0       0.95      0.92      0.94       814
    Classe 1       0.45      0.55      0.49        91

    accuracy                           0.89       905
   macro avg       0.70      0.74      0.71       905
weighted avg       0.90      0.89      0.89       905